{% extends "base.html" %}
{% block conteudo %}
<div class="categorias d-flex flex-row justify-content-center">
    <h3><a href="/produtos">Todas as categorias</a></h3>
    {% for categoria in lista_categorias %}
    <h3><a href="{{ categoria.get_absolute_url }}">{{ categoria.nome }}</a></h3>
    {% endfor %}
</div>

<section class="section-buscar">
    <div class="d-flex align-items-center">
        <div class="container">
            <h1 class="d-flex justify-content-center">Catálogo</h1>
            <div class="container-frutas row col-md-12 col-12 col-lg-12">
                {% for produto in lista_produtos %}
                <div class="container">
                    <img src="{{ produto.imagem.url }}" alt="{{ produto.nome }}">
                    <p><a href="{{ produto.get_absolute_url }}">{{ produto.nome }}</a></p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

<footer class="footer container-fluid">
        <div class="row footer-all-divs">
            <div class="col-3 footer-div">
                <p>About Us
                </p>
                <p>Press
                </p>
                <p>FAQs</p>
            </div>
            <div class="col-3 footer-div">
                <p>Terms & Conditions
                </p>
                <p>Ad Choices
                </p>
                <p>Privacy & Cookies</p>
            </div>
            <div class="col-3 footer-div">
                <p>Children's Privacy Policy
                </p>
                <p>Legals
                </p>
                <!-- <p>FAQs</p> -->
            </div>
            <div class="col-3 footer-imgs">
                <img src="static/img/instagram.png" alt="">
                <img src="static/img/gmail.png" alt="">
                <img src="static/img/twitter.png" alt="">
                <img src="static/img/open-book.png" alt="">
            </div>
        </div>

    </footer>
{% endblock conteudo %}
