{% extends "base.html" %}
{% block conteudo %}

<div class="section-image ">
    <div class="text-image d-flex flex-column justify-content-center">
        {% if user.is_anonymous %}
        <h3 class="d-flex justify-content-center">Não conectado {{ user.get_name }}</h3>
        <a class="d-flex justify-content-center" href="{% url 'login' %}">Login</a>
        {% else %}
        <div class="d-flex flex-row">
            <div class="image col-4 d-flex justify-content-center">
                <img class="" src="static/img/user.png">
            </div>
            <div class="col-8">
                <h3 class="d-flex justify-content-center">Bem vindo(a): </h3>
                <h2 class="d-flex justify-content-center"> {{ user.username }} </h2>
                <a class="d-flex justify-content-center" href="{% url 'logout' %}">Logout</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<footer class="footer container-fluid">
        <div class="row footer-all-divs">
            <div class="col-3 footer-div">
                <p>About Us
                </p>
                <p>Press
                </p>
                <p>FAQs</p>
            </div>
            <div class="col-3 footer-div">
                <p>Terms & Conditions
                </p>
                <p>Ad Choices
                </p>
                <p>Privacy & Cookies</p>
            </div>
            <div class="col-3 footer-div">
                <p>Children's Privacy Policy
                </p>
                <p>Legals
                </p>
                <!-- <p>FAQs</p> -->
            </div>
            <div class="col-3 footer-imgs">
                <img src="static/img/instagram.png" alt="">
                <img src="static/img/gmail.png" alt="">
                <img src="static/img/twitter.png" alt="">
                <img src="static/img/open-book.png" alt="">
            </div>
        </div>

    </footer>
{% endblock conteudo %}





