{% extends "base.html" %}
{% block conteudo %}

<div class="quem-somos">
    <h1>Quem somo nós?</h1>
    <h2> Somos um universo literário.</h2>
    <h3> Leia onde quiser. Cancele quando quiser.</h3>
    <p> A bookflix é uma loja de livros com os melhores preços. </p>

</div>


<footer class="footer container-fluid">
    <div class="row footer-all-divs">
        <div class="col-3 footer-div">
            <p>About Us
            </p>
            <p>Press
            </p>
            <p>FAQs</p>
        </div>
        <div class="col-3 footer-div">
            <p>Terms & Conditions
            </p>
            <p>Ad Choices
            </p>
            <p>Privacy & Cookies</p>
        </div>
        <div class="col-3 footer-div">
            <p>Children's Privacy Policy
            </p>
            <p>Legals
            </p>
            <!-- <p>FAQs</p> -->
        </div>
        <div class="col-3 footer-imgs">
            <img src="static/img/instagram.png" alt="">
            <img src="static/img/gmail.png" alt="">
            <img src="static/img/twitter.png" alt="">
            <img src="static/img/open-book.png" alt="">
        </div>
    </div>

</footer>
{% endblock conteudo %}
